
.vs/OpenGLYoutube/v16/Browse.VC.db-shm
.vs/OpenGLYoutube/v16/Browse.VC.db-wal
.vs/OpenGLYoutube/v16/Browse.VC.opendb
.vs/OpenGLYoutube/v16/Browse.VC.db
.vs/OpenGLYoutube/v16/.suo
*.db
.vs/OpenGLYoutube/v16/.suo
*.db
