
/*/*/*/*.db-shm
/*/*/*/*.db-wal
/*/*/*/*.opendb
/*/*/*/*.db
/*/*/*.suo
*.db
/*/*/*.suo
*.db
/*/*/*/*.exe
/*/*/*.ilk
/*/*/*.pdb
/*/*/*/*.tlog
/*/*/*.idb
/*/*.pdb
/*/*/*.pdb
/*/*/*.tlog
/*/*/*.ilk
/*/*/*.exe
/*/*/*.obj
/*/*/*.db
